# Flutter/Dart
.dart_tool/
.packages
build/
*.lock

# Android
*.iml
*.class
.gradle/
local.properties
.idea/
*.log

# Example app build
example/build/
example/.dart_tool/
example/android/.gradle/
example/android/app/build/
example/build/app/
example/build/
*/build/
# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
